.disabled {
  opacity:.6;
  pointer-events:none;
  cursor:default;
}

.raw-output {
  color:#000;
  background:#ccc;
  max-width:98%;
  border:1px solid gray;
  padding:5px;
  font-family:arial,verdana,helvetica,courier;
  font-size:0.8rem
}

.circle {
  height:10px;
  width:10px;
  border-radius:50%;
  display:inline-block;
}

.circle.success {
  background-color:green;
}

.circle.error {
  background-color:red;
}
